# MySQL configuration
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=app

# AdonisJS environment
TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=0mWRjdoHndJCXdRBTvKrP-T0a9DBOt4n
NODE_ENV=development
# AdonisJS mail config
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password

# React Vite environment
VITE_APP_API_URL=http://localhost:3333
VITE_PORT=5173